#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.maplibregl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#clock {
    position: absolute;
    border-radius: 25px;
    background-color: #F0F0F0;
    margin: 10px;
    padding: 5px; 
    top: 0px;
    right: 35px;
}
#legend {
    border-radius: 25px;
    padding: 5px; 
    position: absolute;
    background-color: #F0F0F0;
    margin: auto;
}

.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0px;
}

.flex-center.right {
    bottom: 10%;
}

.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    overflow: scroll;
}

#jsonTable {
    height: 50%;
    border: 1;
}

#tbody {
    table-layout:fixed;
    width:40%;
}

#tbody tr{
    word-break: break-all;
    border: #0aa1cf;
    
}

.camera  img {
    width: auto;
    height: 150px;
}

tr:hover {
    background-color: #F0F0F0;
}
.sidebar-toggle {
    position: absolute;
    right: 0;
    top: 5em;
    width: 1.3em;
    height: 1.3em;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

#right-text {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

td > a { display: block; width: 100%; height: 100%; } 

.sidebar-toggle.left {
    right: -1.5em;
}

.sidebar-toggle.right {
    left: -1.5em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar {
    margin-inline: auto;
    transition: transform 1s;
    z-index: 1;
    width: 100%;
    height: 400px;
}

#right {
    resize: both;
    bottom: 0;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
    transform: translateX(-295px);
}

.right.collapsed {
    transform: translateY(395px);
}

@media only screen and (max-width: 600px) {
    #tbody {
        display: none;
    }
    #right-text {
        width: 100%;
        height: 100%;
    }
  }